<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="file" fileName="${basedir}/logs/blog.txt">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
				<!-- Add more attributes as needed -->
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>

</nlog>
